

.container{
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 1200px;
    height: 52px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Comic Neue";
}
.container a, span{
    color: #FFFFFF;
    text-decoration: none;

}
.logo img{
    width: 42px;
    border-radius: 10rem
}
.logo {
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo span{
    font-size: 18px;
    font-weight: 700;
}
.navigation nav{
    display: flex;
}

.navigation ul{
    display: flex;
    list-style: none;
}
.navigation__leftside li {
    margin: 0 9px;
}
.dogopedia span{
    font-size: 15.4px;
    padding: 0px 6.3px;
}
.navigation nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navigation__leftside{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0px 15px;
    letter-spacing: normal;
    max-width: 100%;
}
.navigation__leftside a {
    font-size: 15.7px;
    font-weight: 400;
    line-height: 24.62px;
}

.shirtSvg img{
    width: 20px;
    height: 16px;   
}
.nav__end__part{
    padding: 0;
    margin-right: 10px;
}
.nav__end__part li{
    display: flex;
}
.nav__end__part img{
}

.language__eng{
    font-size: 13.2px;
    padding: 4.62px 8.2px;
    margin: 0px 4.5px;
    background-color: #212529;
    border-radius: 4px;
}
.language img{
    width: 23.46px;
    height: 17.59px;
}
.language .svgspan {
    display: inline-block;
    line-height: 19.21px;
    height: 19.21px;
}

.language{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 18.4px;
}
.toogleLi img{
    padding: 0;
    margin: 0;
    display: flex;
}

.show{
    display: none;
}
.dogopedia:hover .show{
    position: absolute;
    width: 100%;
    max-width: 140px;
    background-color: #0B0B0B;
    color: #FFFFFF;
    padding: 30px 15px 20px;
    gap: 15px;
    display: flex;
    flex-direction: column;
}
