
.container{
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    font-family: "Comic Neue";
}

.dogopediaCOntainer{
    display: flex;
}

.dogopediaImg{
    padding: 50px 12px 0px;
}

.dogopediaImg img{
    width: 300px;
}

.lastPart{
    display: flex;
}
.lastPart {
    padding: 16px 20px 16px 20px;
    margin-bottom: 5px;
    width: 100%;
    max-width: 480px;
    gap: 15px;
    display: flex;
    align-items: center;
}
.lastPart p {
    font-size: 18px;
    color: #222222;
    
}
.lastPart img{
    width: 18px !important;
    height: 18px !important;
    
}

.border{
    border-bottom: 0.5px solid gainsboro;
}

.middleContainer{
    width: 250px;
    box-sizing: content-box;
    padding: 50px 12px 0px;
    display: flex;
    flex-direction: column;
}
.padd{
    padding: 14px 16px;
    margin-bottom: 5px;
}

.middleContainer p{
    font-size: 21.14px;
    font-weight: bold;
}

.dogopediaCOntainer{
    gap: 72px;
}

.last{
    margin-left: 28px;
    font-weight: bold;
}

.viewall{
   background-color: red;
   text-align: center;
   width:  162px;
   height: 42px;
   display: flex;
   align-items: center;
   justify-content: center;
   box-sizing: content-box;
   border-radius: 50rem;
   background-color: #DFC66D;
   margin: 0 auto;
    padding: 8px 18px;
    font-size: 18px;
    position: relative;
    top: 16px;
    left: 0;
    right: 0;
    bottom: 0;
}